@using Animal.Models

@{
    ViewBag.Title = "DetailAnimalInfo";
    Animal animal = ViewBag.Animal;
}

<h2>Информация</h2>

<div class="container body-content">
    <div class="row">
        <table>
            <tr>
                <td>Название</td>
                <td>@Html.TextBox("AnimalName", animal.Name, new { @readonly = "readonly" }) </td>
            </tr>
            <tr>
                <td>Тип животного</td>
                <td>@Html.TextBox("AnimalType", animal.AnimalType.Name, new { @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td>Цвет шкуры</td>
                <td>@Html.TextBox("FellColor", animal.FellColor.Name, new { @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td>Местоположение</td>
                <td>@Html.TextBox("Location", animal.Location.Name, new { @readonly = "readonly" })</td>
        </tr>
</table>
</div>
</div>
